<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 3 | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <app-main-sidebar [appDATA]="role"></app-main-sidebar>

    <!-- /.content-wrapper -->
    <div class="main-footer">
      <!-- Content Header (Page header) -->
      <app-page-header></app-page-header>
      <!-- /.content-header -->
      
      <!-- Main content -->
      <router-outlet></router-outlet>
      <!-- /.content -->

      <!-- Main footer -->
      <app-footer></app-footer>
      <!-- /.footer -->
      
    </div>
  </div>
  <!-- ./wrapper -->

  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $(document).ready(function () {
      $.widget.bridge('uibutton', $.ui.button)
    });
  </script>
</body>
</html>