<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalSecure">
  Open modal
</button>

<!-- The Modal -->
<div class="modal fade" id="modalSecure">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-info">
        <h4 class="modal-title">Confirmation de l'opération de sécurisation</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>Les diplômes correspondants aux informations ci-dessous vont être sécurisés.</p>
        <p class="text-center text-danger" style="font-size: 25px;"><b>Êtes-vous sûre de vouloir continuer ?</b></p>
        <hr>
        <div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="badge bd1 text-left">Filière: </span>
              <span class="bd2 badge badge-info">GLAR</span>
            </li>
            <li class="list-group-item">
              <span class="badge bd1 text-left">Niveau: </span>
              <span class="bd2 badge badge-info">MASTER</span>
            </li>
            <li class="list-group-item">
              <span class="badge bd1 text-left">Promotion: </span>
              <span class="bd2 badge badge-info">2018</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">NON</button>
        <button type="button" class="btn btn-danger" (click)="secureListeDiplomes()" data-dismiss="modal">OUI</button>
      </div>

    </div>
  </div>
</div>