
<div>
  <div class="modal-header bg-info">
    <h4 class="modal-title" id="modal-basic-title">Confirmation de l'opération de sécurisation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Modal body -->
  <div class="modal-body">
    <p>Les diplômes correspondants aux informations ci-dessous vont être sécurisés.</p>
    <p class="text-center text-danger" style="font-size: 25px;"><b>Êtes-vous sûre de vouloir continuer ?</b></p>
    <hr>
    <div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="badge bd1 text-left">Filière: </span>
          <span class="bd2 badge badge-info">GLAR</span>
        </li>
        <li class="list-group-item">
          <span class="badge bd1 text-left">Niveau: </span>
          <span class="bd2 badge badge-info">MASTER</span>
        </li>
        <li class="list-group-item">
          <span class="badge bd1 text-left">Promotion: </span>
          <span class="bd2 badge badge-info">2018</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button id="btn-non" class="btn btn-outline-info" (click)="modal.dismiss('NON click')">NON</button>
    <button id="btn-oui" class="btn btn-outline-danger" (click)="modal.close('Save click')">OUI</button>
  </div>
</div>


