<div class="container">

  <h3>Angular Display Images</h3>
  <hr />

  <div id="loadImageBootstrapStyleDiv" style="background-color:black; width: 520px; padding: 10px">
    <img src="http://localhost:8080/api/image/logo" class="rounded" alt="Grokonez-About Image" width="250px" height="auto">
    <img src="http://localhost:8080/api/image/logo" class="rounded-circle" alt="Grokonez-About Image" width="250px"
      height="auto">
  </div>
  <table>
    <thead>
      <th>Image</th>
    </thead>
    <tbody>
      <td>
        <img src="http://localhost:8080/api/image/logo" 
          class="rounded" alt="Grokonez-About Image" 
          width="100px" height="100px">
      </td>
    </tbody>
  </table>

</div>